<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/booltrap/css/bootstrap.min.css" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <div class="bg-info-subtle">

    <div class="container-fluid   ">
      <div class="row">
        <div class="col-12 ">
          <nav class="navbar navbar-expand-lg bg-info-subtle rounded-2  " >
            <div class="rounded-circle ">
              <a class="navbar-brand" href="/product/product">
                <img class="rounded-circle " src="/images/Patuanshop1.png" width="60" height="60" alt="">
              </a>
            </div>

            <div class="container-fluid">
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sản phẩm
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/product/product">Danh sách sản phẩm</a></li>
                      <li><a class="dropdown-item" href="/product/addproduct">Thêm sản phẩm</a></li>
                      <li><a class="dropdown-item" href="/product/theloai">Danh sách loại</a></li>
                      <li><a class="dropdown-item" href="/product/addtheloai">Thêm loại</a></li>
                    
                    </ul>
                  </li>
                 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Người dùng
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/user/user">Danh sách người dùng</a>
                            

                        </li>
                         
                           
                          
                        
                        </ul>
                      </li>
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Cài đặt
                        </a>
                        <ul class="dropdown-menu">  
                          <li><a class="dropdown-item" href="/user/singout/">Đăng xuất</a></li>
                         
                        </ul>
                      </li>
                 
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control form-control-sm me-1" type="search" placeholder="Search" aria-label="Search"required>
                  <button class="btn btn-danger" type="submit">Search</button>
                 
                </form>
                

              </div>


            </div>
            

          </nav>

        </div>

      </div>



    </div>

  </div>